/* Сброс стилей для обеспечения консистентности */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 100%; /* 16px по умолчанию */
   scroll-behavior: smooth; /* Плавный скроллинг */
}

body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   line-height: 1.5;
   color: #000;
   background-color: #fff;
}

ul, ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

button, input, textarea {
   font-family: inherit;
   font-size: inherit;
   border: none;
   background: none;
   outline: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-weight: normal;
}

p {
   margin: 0;
}

:focus {
   outline: none;
}
