/* Планшеты */
@media (max-width: 768px) {
   .container {
      padding: 0 10px;
   }

   .header__nav ul {
      flex-direction: column;
   }
}

/* Смартфоны */
@media (max-width: 480px) {
   h1 {
      font-size: 24px;
   }

   .hero {
      padding: 50px 10px;
   }
}
